Practica 4 - WCF/GestorBibliotecaClient/GestorBibliotecaClient/Connected Services/GestorBibliotecaService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/GestorBibliotecaService" />
  <xs:element name="Conexion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pPasswd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConexionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConexionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Desconexion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIda" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DesconexionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DesconexionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NRepositorios">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIda" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NRepositoriosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NRepositoriosResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DatosRepositorio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIda" type="xs:int" />
        <xs:element minOccurs="0" name="pRepo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DatosRepositorioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GestorBibliotecaService" minOccurs="0" name="DatosRepositorioResult" nillable="true" type="q1:TDatosRepositorio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AbrirRepositorio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIda" type="xs:int" />
        <xs:element minOccurs="0" name="pNomFichero" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AbrirRepositorioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AbrirRepositorioResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarRepositorio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIda" type="xs:int" />
        <xs:element minOccurs="0" name="pRepo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarRepositorioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuardarRepositorioResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NuevoLibro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIda" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GestorBibliotecaService" minOccurs="0" name="L" nillable="true" type="q2:TLibro" />
        <xs:element minOccurs="0" name="pRepo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NuevoLibroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NuevoLibroResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Comprar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIda" type="xs:int" />
        <xs:element minOccurs="0" name="pIsbn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pNoLibros" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComprarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ComprarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Retirar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIda" type="xs:int" />
        <xs:element minOccurs="0" name="pIsbn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pNoLibros" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetirarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetirarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ordenar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIda" type="xs:int" />
        <xs:element minOccurs="0" name="pCampo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrdenarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrdenarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NLibros">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pRepo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NLibrosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NLibrosResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Buscar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIda" type="xs:int" />
        <xs:element minOccurs="0" name="pIsbn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BuscarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Descargar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIda" type="xs:int" />
        <xs:element minOccurs="0" name="pRepo" type="xs:int" />
        <xs:element minOccurs="0" name="pPos" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DescargarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GestorBibliotecaService" minOccurs="0" name="DescargarResult" nillable="true" type="q3:TLibro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Prestar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pPos" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrestarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PrestarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Devolver">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pPos" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DevolverResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>